.accordion {
    width: 90vw;
    margin: 2rem auto;
}

.item {
}

.title {
    border-radius: 4px 4px 0 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--background-light);
}

.content {
    border-radius: 0 0 4px 4px;
    background-color: var(--background-overlay);
}

.content div {
    width: 100%;
}

.content input {
    width: 90%;
}

.title, .content {
    padding: 1rem;
}
