.accordion {
    width: 90vw;
    margin: 2rem auto;
}

.item {

}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--background-light);
}

.content {
    background-color: var(--background-overlay);
}

.content .horizontal-group {
    width: 100%;
}

.content div {
    width: 100%;
}

.content input {
    width: 90%;
}

.title, .content {
    padding: 1rem;
}
