.card {
    overflow: hidden;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    transition: box-shadow 200ms ease-in;
}

.img {
    height: 12rem;
    width: 100%;
    object-fit: cover;
}

.title {
    padding: 1rem;
}

.description {
    padding: 0 1rem;
}

.card button {
    padding: 1rem;
    margin: 1rem;
    width: 87%;
}

.card:hover {
    box-shadow: 0 2px 20px var(--background-light);
}

.card:hover button {
    background-color: #7B1976FF;
}
