:root {
    --main-color: #AF22A5;
    --background-color: #222222;
    --background-light: #444444;
    --background-overlay: #666666;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    overflow-x: hidden;
}

body {
    font-family: sans-serif;
    background-color: var(--background-color);
    color: white;
}

.highlight {
    color: yellow;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: 0 auto;
}

.horizontal-group {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.hide {
    display: none;
}

@media (max-width: 648px) {
    .container {
        width: 95vw;
    }
}
