.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--main-color);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem;
    width: 12vw;
    cursor: pointer;
    margin: 5px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}