.button {
    display: inline-block;
    border-radius: 4px;
    background-color: var(--main-color);
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 0.5rem;
    width: 5rem;
    height: fit-content;
    cursor: pointer;
    margin: 5px;
    transition: 0.3s;
}

.button:hover {
    background-color: #7B1976FF;
}

button:disabled {
    background-color: var(--main-color-disabled);
    color: var(--text-disabled);
}
